@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply antialiased;
  }

  body {
    @apply overflow-x-hidden;
  }
}

.perspective-1000 {
  perspective: 1000px;
}
